<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Squishtable</title>
</head>
<body>
<a href='/calendar/add'><button>Add task</button></a>
<a href='/calendar/remove'><button>Remove task</button></a>
<a href='/calendar/edit'><button>Edit task</button></a>

<h1>THIS IS WHERE WE SHOW OUR CALENDAR</h1>
<h1>I have some functions prepared for getting tasks</h1>
<table>
    <tr>
        <th>TITLE</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    <tr th:each="task : ${userTasksList}">
        <td th:text="${task.getTitle()}"></td>
        <td th:text="${task.getDescription()}"></td>
        <td th:text="${task.getDateStart()}"></td>
        <td th:text="${task.getDateEnd()}"></td>
    </tr>
</table>


<!--    <td>-->
<!--        <form th:action="@{/remove}" th:object="${userRow}" method="get">-->
<!--            <input type="hidden" name="id" th:value="${appUser.getId()}">-->
<!--            <input type="hidden" name="username" th:value="${appUser.getUsername()}">-->
<!--            <button th:if="${appUser.getUsername() != #request.userPrincipal.name}" type="submit">-->
<!--                <i>Remove</i>-->
<!--            </button>-->
<!--        </form>-->
<!--    </td>-->
</tr>
<!--We need to find a way to display each task on the calendar at least-->
</body>
</html>